.container {
  min-height: 100vh;
  padding: 0 4rem;
  height: 100vh;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top {
  margin: auto 0;
  padding: 0 0.5rem;
  color: black;
}

.logo {
  font-weight: normal;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo:hover {
  cursor: pointer;
  color: #FF9900;
}

.nav {
  width: 100%;
  justify-content: right;
}

a.back {
  color: #aaa;
  margin-top: 2rem;
}

a.back:hover,
a.back:focus,
a.back:active {
  color: #FF9900;
}

.footerHome {
  margin: 1rem 0;
}

.footerLink {
  color: #FF9900;
}

.footerLink:hover,
.footerLink:focus,
.footerLink:active {
  color: #FF9900;
}
